.homepage {
  width: 80%;
  margin: 10px auto;
  font-family: Play;

  .posts {
    height: 400px;
    display: grid;
    grid-template-columns: 0.6fr 0.43fr;
    gap: 10px;
    border: solid 1px red;
  }

  .featured {
    height: 100%;
  }

  .featured--side {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
    width: 100%;
    margin-left: 20px;
    border: solid 1px green;

    div {
      height: 50%;
    }
  }
}
