.post--card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;

  section:first-child {
    width: inherit;
    display: flex;
    flex-direction: column;

    p:last-child {
      font-size: 12px;
    }
  }

  img {
    height: 100px;
    width: 150px;
    box-sizing: border-box;
    object-fit: cover;
  }

  a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
}
