.post--card {
  margin: 20px auto;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-between;

  h4 {
    font-size: 22px;
  }

  a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }

  img {
    width: 200px;
    height: 100%;
    object-fit: cover;
  }

  button {
    border: none;
    background: #3d3f44;
    border-radius: 5px;
    padding: 7px 10px;
    color: white;
    font-size: 12px;
  }
}
