.recent--page {
  width: 75%;
  margin: 40px auto;

  .recent--posts {
    margin-top: 40px;
  }

  .recent--title {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    justify-self: flex-start;

    p {
      margin-left: 10px;
    }
  }

  .trending--post {
    display: flex;
    align-items: center;

    p {
      font-size: 30px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.4);
      margin-right: 15px;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }

    i {
      font-size: 14px;
    }

    .trending--post-info {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 700px) {
  .recent--page {
    width: 95%;
    margin: 40px auto;
  }
}
